* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, "Helvetica Neue";
  overflow-x: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

ul {
  margin: 0;
  padding: 0;
}


.feed-cell {
  display: table;
  width: 100%;
}

.feed-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: table;
  list-style: none;
  padding: 10px 0;
  width: 100%;
}

.feed-cell:first-of-type {
  padding-top: 2px;
}

.feed-cell:last-of-type {
  border-bottom: none;
  padding-bottom: 5px;
}

.controls,
.feed-info {
  display: table-cell;
  vertical-align: middle;
}

.feed-name {
  -webkit-user-select: none;
  display: block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.05em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px;
}

.url-field {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), color-stop(0.9, rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  background: transparent;
  border: none;
  color: #000;
  display: block;
  margin: 2px 0 0;
  opacity: 0.7;
  padding: 0;
  width: 230px;
}

form {
  float: right;
}

[type=submit] {
  font-size: 18px;
  color: #AAA;
}

[type=submit]:active {
  font-size: 18px;
  color: white;
}
