<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>co.kaishin.syndicate</string>
       <key>Developer Identifier</key>
       <string>U8WP333PAE</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>https://github.com/kaishin/syndicate/releases/download/v1.0.0/Syndicate.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
