<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Reda Lemeden</string>
	<key>Builder Version</key>
	<string>10600.5.17</string>
	<key>CFBundleDisplayName</key>
	<string>Syndicate</string>
	<key>CFBundleIdentifier</key>
	<string>co.kaishin.syndicate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<string></string>
				<key>Identifier</key>
				<string>mainPopover</string>
				<key>Width</key>
				<string></string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>menuButton</string>
				<key>Image</key>
				<string>assets/icon.png</string>
				<key>Label</key>
				<string>Subscribe</string>
				<key>Popover</key>
				<string>mainPopover</string>
				<key>Tool Tip</key>
				<string>Subscribe via RSS</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>endScript.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Brings the RSS button back to the toolbar</string>
	<key>DeveloperIdentifier</key>
	<string>U8WP333PAE</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/kaishin/syndicate/master/updates.plist</string>
	<key>Website</key>
	<string>https://redalemeden.com/syndicate</string>
</dict>
</plist>
